---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// font variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   1.25em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5em;
$spacing-unit:     30px;

//colors variables
$text-color: #000000;
$background-color: #fffcf5;
$primary-color: #449bb5;
$secondary-color: #eb5055;
$tertiary-color: #25a278;
$grey-color: #b5ac99;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark: darken($grey-color, 25%);
$h1-color: $primary-color;
$h2-color: $secondary-color;
$h3-color: $tertiary-color;
$code-background-color: #F3EFE6;
$code-border-color: #F3EFE6;
$code-color: $secondary-color;
$link-color: $secondary-color;
$link-hover-color: $tertiary-color;

$nav-offset: 70px;


// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"syntax-highlighting"
;


// header styles
header {
  margin-bottom: 40px;
  p {
    margin-top: -10px;
    font-size: 1.1em;
    font-style: italic;
    color: $grey-color;
  }
}


// hero styles
.hero {
  background-image: url("/images/hero/hero.png");
  background-size: 100%;
  height: 250px;
}


// navbar styles
.navbar {
  background-color: $background-color;
  border-bottom: 1px solid $grey-color-light;
  font-size: 1.2em;
  a {
    color: $primary-color !important;
  }
  a:hover {
    color: $secondary-color !important;
  }
}
.navbar-nav {  // fix horizontal scroll on collapse
  margin: auto;
}


// navigation offsets styles
h1[id], h2[id], h3[id] {  // to account for fixed navbar padding
  padding-top: $nav-offset;
  margin-top: -$nav-offset;
}


// footer styles
footer {
  height: 85px;
  padding: 10px 0;
  text-align: center;

  p {
    font-size: 0.9em;
    font-style: italic;
  }

  .social {
    margin-top: -15px;
  }

}

// post styles
.post {
  .thumbnail {
    background-color: $background-color;
  }
  .thumbnail:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
  }
}


// Resume styles
.resume {
  header {
    margin-bottom: 25px;
    .dl-horizontal {
      margin-left: 35px;
      font-size: 12px;
      dt {
        float: left;
        text-align: left;
        width: 75px;
      }
      dd{
        margin-left: 0;
        width: 300px;
      }
    }
  }
  .affix {
    top: 0;
    padding-top: 80px;
    width: $content-width;
  }
  .resume-body {
    margin-top: 100px + $nav-offset;
    section {
      padding-bottom: 10px;
      margin-bottom: 50px;
      border-bottom: 5px solid $grey-color-light;
    }
  }
  h1[id], h2[id], h3[id] {  // to account for fixed navbar padding
    padding-top: 200px + $nav-offset;
    margin-top: -(200px + $nav-offset);
  }

  hr {
    margin: 10px auto;
  }
}
