---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// font variables
$base-font-size:   1.25em;
$small-font-size:  $base-font-size * 0.875;
$base-font-family: "Open Sans", sans-serif;
$brand-font-family: "Architects Daughter", cursive;
$base-line-height: 1.5em;
$spacing-unit:     30px;

//colors variables
$text-color: #000000;
$background-color: #fffcf5;
$primary-color: #449bb5;
$secondary-color: #eb5055;
$tertiary-color: #25a278;
$grey-color: #b5ac99;
$code-background-color: #F3EFE6;
$code-border-color: #F3EFE6;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark: darken($grey-color, 25%);
$h1-color: $primary-color;
$h2-color: $secondary-color;
$h3-color: $tertiary-color;
$code-color: $primary-color;
$link-color: $primary-color;
$link-hover-color: $tertiary-color;

// paddings
$nav-padding: 85px;
$footer-height: 100px;


// Width of the content area
$content-width:    900px;
$on-palm:          600px;
$on-laptop:        900px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"syntax-highlighting"
;


// general styles
html {
  min-height: 100%;  // to push footer to bottom if height of page is less than 100%
  position: relative; // for project iframes to display right
}

body {
  padding-top: $nav-padding;
  padding-bottom: 50px;
  margin-bottom: $footer-height;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
}
.text-grey, .text-small {
  font-family: $brand-font-family;
  color: $grey-color;
  font-style: italic;
}
.text-small {
  margin-top: -0.5em;
  font-size: $small-font-size !important;
}


// bootstrap styles
.badge {
  background-color: $grey-color;
}
.thumbnail {
  background-color: $background-color;
}




// navigation offsets styles to account for fixed navbar padding
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  padding-top: $nav-padding;
  margin-top: -$nav-padding;
}



// header styles
header {
  width: 100%;
  margin-bottom: 40px;
  p {
    font-family: $brand-font-family;
    font-size: 1.2em;
    font-style: italic;
    color: $grey-color-dark;
  }
}


// splash styles
.splash {
  background-image: url("https://s3-us-west-1.amazonaws.com/chrisrzhou/datanaut/site/images/ink/splash.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 75%;
  height: 350px;
}



// navbar styles
.navbar {
  background-color: $background-color;
  border-bottom: 3px solid $grey-color-light;
  font-size: 1.2em;
  a {
    color: $primary-color !important;
  }
  a:hover {
    color: $secondary-color !important;
  }
}
.navbar-nav {  // fix horizontal scroll on collapse
  margin: auto;
}
.nav a, .navbar-brand {
  font-family: $brand-font-family;
}




// section styles
section {
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 5px solid $grey-color-light;
}



// footer styles
footer {
  border-top: 3px solid $grey-color-light;
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $background-color;
  font-family: $brand-font-family;
  text-align: center;
  p {
    color: $grey-color;
    font-style: italic;
  }
  a {
    color: $primary-color !important;
  }
  a:hover {
    color: $secondary-color !important;
  }
}


// post styles
.post-summary {
  min-height: 250px;
  padding: 10px 25px;
  margin: 20px 0;
  img {
    margin-top: 0;
    margin-bottom: 15px;
    display: inline-block;
    width: auto;
    height: 100px;
    @media (max-width: 770px) {
      height: 150px;
    }
  }
  a:hover {
    h2 {
      color: $link-hover-color;
    }
  }
  .fa {
    color: $grey-color;
    margin-right: 5px;
  }
  .date {
    margin: 0;
  }
}
.post-detail {
  text-align: center;
  h1 {
    font-size: 2.6em;
  }
  p {
    font-size: 1.2em;
  }
  img {
    height: auto;
    width: 60%;
  }
}
.post-archive {
  p {
    margin-left: $spacing-unit;
  }
}
.post-tags {
  p {
    margin-left: $spacing-unit;
  }
  padding-bottom: 600px;  // to allow for id anchor links
}


// Resume styles
.resume {
  header {
    margin: 0;
  }
  #resume-tabs {
    background-color: $background-color;  // to hide header for scrollspy
    ul {
      margin: 0;
    }
    @media (max-width: 480px) {
      .nav-tabs > li {
        font-size: 0.75em;
      }
    }
  }
  .affix {
    top: 0;
    padding-top: $nav-padding;
    width: 100%;
  }
  .resume-body {
    padding-top: 10px + $nav-padding;
  }
  h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {  // to account for fixed navbar padding
    padding-top: 100px + $nav-padding;
    margin-top: -(100px + $nav-padding);
  }
}


// Project styles
.project {
  iframe {
    min-height: 1000px;
    width: 100%;
  }
}

