---
permalink: "/blog/"
layout: default
title: blog
---

<!-- header -->
<header>
  <h1>
    <a href="/blog/"><i class="fa fa-pencil-square-o"></i></a>
    blog
  </h1>
  <p>Launch into a wormhole and start exploring!</p>
</header>

{% assign sections = site.blog | sort: "weight" %}
{% for section in sections %}
{% assign posts = site.posts | where: "category", section.category %}
<div class="col-sm-4 post-summary">
  <a href="{{ section.category }}">
    <img src="{{ section.thumbnail }}" />
    <h2>
      {{ section.category }}
      {% if section.layout == "post-list" %}
      <span class="badge">{{ posts.size }}</span>
      {% endif %}
    </h2>
  </a>
  <p class="text-grey">{{ section.description }}</p>
</div>
{% endfor %}
