---
permalink: /resume/
layout: default
title: resume
---

{% assign resume = site.resume | sort: "weight" %}

<body data-spy="scroll" data-target="#resume-tabs" data-offset="0">
<div class="resume">

  <!-- resume tabs-->
  <div id="resume-tabs" class="wrapper affix">
    <header>
      <h1><i class="fa fa-file-text-o"></i> resume</h1>
      <p>Chris R. Zhou</p>
    </header>

    <!-- nav tabs-->
    <ul class="nav nav-tabs">
      {% for section in resume %}
      <li><a href="#{{ section.title }}">{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- resume body-->
  <div class="resume-body">
    {% for section in resume %}
    <section id="{{ section.title }}">
      {{ section.content }}
    </section>
    {% endfor %}
  </div>

</div>
</body>
