---
layout: default
title: Resume
url: /resume
site-orientation: nav-left
---

{% assign resume = site.resume | sort: "weight" %}
<body data-spy="scroll" data-target="#myScrollspy">
<!-- header -->
<header>
  <h1><i class="fa fa-file"></i> Resume</h1>
  <p>Chris R. Zhou</p>
</header>

<div class="resume">
  <div class="col-xs-4" id="myScrollspy">
    <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="100">
      {% for section in resume %}
      <li><a href="#{{ section.title }}">{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-xs-8">
    {% for section in resume %}
    <div id="{{ section.title }}">{{ section.content }}</div>
    {% endfor %}
  </div>
</div>
</body>
