---
layout: default
permalink: /resume/
title: datanaut - resume
---

{% assign resume = site.pages | where: "page-type", "resume" | sort: "weight" %}

<body data-spy="scroll" data-target="#resume-tabs" data-offset="0">
<div class="resume">

  <!-- resume tabs-->
  <nav id="resume-tabs" class="navbar affix">
    <header>
      <h1><i class="fa fa-file-text-o"></i> resume <small>Chris R. Zhou</small></h1>
      <dl class="dl-horizontal">
        <dt>web</dt>
        <dd>
          <a href="http://chrisrzhou.datanaut.io/" target="_blank">http://chrisrzhou.datanaut.io/</a>
        </dd>
        <dt>github</dt>
        <dd>
          <a href="https://github.com/chrisrzhou" target="_blank">https://github.com/chrisrzhou</a>
        </dd>
        <dt>email</dt>
        <dd>
          <a href="mailto:christopher.r.zhou@gmail.com?Subject=Contact" target="_top">christopher.r.zhou@gmail.com</a>
        </dd>
      </dl>
    </header>

    <!-- nav tabs-->
    <ul class="nav nav-tabs">
      {% for section in resume %}
      <li><a href="#{{ section.title }}">{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <!-- resume body-->
  <div class="resume-body">
    {% for section in resume %}
    <section id="{{ section.title }}">
      {{ section.content }}
    </section>
    {% endfor %}
  </div>

</div>
</body>
