<!-- navbar section -->
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-rocket"></i> datanaut</a>
    </div>
    <!-- navbar left -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about/">about</a></li>
        <li><a href="/blog/">blog</a></li>
        <li><a href="/projects/">projects</a></li>
        <li><a href="/resume/">resume</a></li>
      </ul>
      <!-- navbar right -->
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav">
        </ul>
      </ul>
    </div>
  </div>
</nav>
