---
layout: default
permalink: "/blog/"
title: Blog
---

<!-- header -->
<header>
  <h1><i class="fa fa-pencil-square-o"></i> Blog</h1>
  <p>(in development)</p>
  <hr/>
</header>
{{ site.categories }}
{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
<h3 id="{{ tag }}">{{ tag }}</h3>
<ul>
  {% for post in site.tags[tag] %}
  <li>{{ post.date | date: "%b %-d, %Y" }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
{% endfor %}

{% for site in site.pages %}
  {% if site.page == "resume" %}
  {{ site.title }}
  {% endif %}
{% endfor %}
