---
permalink: "/blog/tags/"
layout: default
title: blog/tags
category: tags
description: Explore blog posts by tags.
thumbnail: https://s3-us-west-1.amazonaws.com/chrisrzhou/datanaut/site/images/ink/datacubes.png
weight: 5
---

{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:" " | sort %}

<!-- header -->
<header>
  <h1 id="tags">
    <a href="/blog/"><i class="fa fa-pencil-square-o"></i></a>
    <a href="/blog/">blog</a>/{{ page.category }}
  </h1>
  <p>{{ page.description }}</p>
  <p class="text-small">{% for tag in sortedtags %}
    {% assign posts = site.tags[tag] %}
    <a href="/blog/tags/#{{ tag }}">#{{ tag }} ({{ posts.size }})</a> &#149;
    {% endfor %}</p>
  <hr/>
</header>


<!-- tag posts -->
{% for tag in sortedtags %}
{% assign posts = site.tags[tag] %}
<section class="post-tags">

  <h2 id="{{ tag }}">
    <span class="badge">{{ posts.size }}</span> #{{ tag }}
  </h2>
  {% for post in posts %}
  <p>
    <span class="text-small">{{ post.date | date: "%m/%d/%Y" }}</span>
    <a href="{{ post.url }}">{{ post.title }}</a>
    <a href="/blog/{{ post.category }}"><span class="text-small">in {{ post.category }}</span></a>
  </p>
  {% endfor %}

  <p class="text-small"><a href="/blog/tags">(back to all tags)</a></p>
  <hr/>
  {% endfor %}
</section>

