---
layout: default
---

<!-- header -->
<header class="post-detail">
  <h1>
    {{ page.title }}<br/>
    <small>
      {{ page.date | date: "%b %-d, %Y" }} |
      Posted in <a href="/posts/{{ page.category }}">{{ page.category }}</a></small>
    </small>
  </h1>
  <p>
    {% if page.tags != empty %}
    {% for tag in page.tags %}<a href="">#{{ tag }}, </a>{% endfor %}
    {% endif %}
  </p>

  {% if page.thumbnail %}<img src="{{ page.thumbnail }}" />
  {% else %}<img src="/images/posts-{{ page.category }}.png" />
  {% endif %}

  <hr />
</header>


<!-- article -->
<article>
  {{ content }}
</article>

<!-- disqus comments -->
{% include disqus.html %}
