---
layout: iframe
---
<header class="post-detail">
  <h1><i class="fa fa-code"></i> {{ page.title }}</h1>
  <p>
    {{ page.date | date: "%b %-d, %Y" }},
    <a href="{{ page.iframe }}" target="_blank">original link</a>
  </p>
  <!-- tags -->
  <p class="text-small">
    {% if page.tags != empty %}
    {% for tag in page.tags %}
    <a href="#">#{{ tag }}</a> |
    {% endfor %}
    {% endif %}
  </p>
  <hr />
</header>

<section class="project">
  <iframe src="{{ page.iframe }}"></iframe>
</section>

<!-- disqus comments -->
<div class="wrapper">
  {% include disqus.html %}
</div>
