---
layout: iframe
---
<header class="post-detail">
  <h1>
    <a href="/projects"><i class="fa fa-code"></i></a>
    {{ page.title }}
  </h1>
  <p>
    {{ page.date | date: "%b %-d, %Y" }}
    <a href="{{ page.source-url }}" target="_blank"><i class="fa fa-external-link-square"></i></a>
    <a href="{{ page.github-url }}" target="_blank"><i class="fa fa-github-square"></i></a>
    {{ page.language }}
  </p>
  <!-- tags -->
  <p class="text-small">
    {% if page.tags != empty %}
    {% for tag in page.tags %}
    <a href="#">#{{ tag }}</a> &#149;
    {% endfor %}
    {% endif %}
  </p>
</header>

<section class="project">
  <iframe src="{{ page.source-url }}"></iframe>
</section>

<!-- disqus comments -->
<div class="wrapper">
  {% include disqus.html %}
</div>
